/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root{
  --color-black: #222222;
  --color-white: #FFFFFF;
  --color-layout-gray: #828282;
  --color-common-gray: #474747;
  --color-text-gray: #5F5F5F;
  --color-form-gray: #C4C4C4;
  --color-form-title-gray: #A5A5A5;
  --color-light-gray: #5F5F5F;
  --color-red: #E61610;
  --color-green: #227b00;
}
